[Desktop Entry]
Type=Application
Name=Golden Break
Comment=Gioco di biliardo e carte
Exec=python3 /home/jonathan/Classic-Pool-main/golden_break.py
Icon=/home/jonathan/Classic-Pool-main/immagini/icon.png
Terminal=false
Categories=Game;
Path=/home/jonathan/Classic-Pool-main/
